<nav class="navbar navbar-default navbar-inverse navbar-static-top">
            <section class="container-fluid">
                <section class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="#">Mpc.edu.vn</a>
                </section>
                <section class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" ng-show="isAdmin()">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="btn btn-xs btn-primary ">Stream <span class="caret"></span></span></a>
                            <ul class="dropdown-menu">
                                <li ng-class="{'disabled': !canStream || isStreaming}"><a ng-click="startStream()">Bắt đầu
                                phát</a></li>
                                <li ng-class="{'disabled': canStream && !isStreaming}"><a ng-click="stopStream()">Dừng
                                phát</a></li>
                                <li ng-class="{'disabled': !canStream || isStreaming}"><a ng-click="setStreamWaiting()">Chọn
                                ảnh - nhạc chờ</a></li>
                                <li role="separator" class="sectionider"></li>
                                <li role="separator" class="sectionider"></li>
                                <li><a ng-click="listQuestions()">Danh sách câu hỏi</a></li>
                            </ul>
                        </li>
                        <li ng-show="!isViewOnly"><a ng-click="sendQuestion()"><span class="btn btn-xs btn-info">Gửi câu hỏi</span></a></li>
                        <li><a ng-click="listStreamSchedules()"><span class="btn btn-xs btn-info">Lịch stream</span></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-show="isLoggedIn"><a ng-click="logout()"><span class="btn btn-xs btn-danger" >Đăng xuất</span></a></li>
                        <li ng-hide="isLoggedIn"><a ng-click="showLoginForm()"><span class="btn btn-xs btn-primary" >Đăng nhập</span></a></li>
                    </ul>
                </section>
            </section>
        </nav>