<section class="panel user_panel">
    <section class="panel_title">
        <span class="title_left">Đang trực tuyến</span>
        <span class="title_right"><i class="fa fa-minus"></i></span>
    </section>
    <section class="panel_body panel_scroll">
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th ng-show="isAdmin() && isStreaming">Stream</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fa fa-user"></i></td>
                    <td ng-click="viewUser(currentUser.UserID);">Me</td>
                    <td ng-show="isAdmin() && isStreaming"></td>
                </tr>
                <tr ng-repeat="user in listUsers">
                    <td><i class="fa fa-user"></i></td>
                    <td>{{user.username}}</td>
                    <td ng-show="isAdmin() && isStreaming">
                        <a ng-if="user.easyrtcid!=stream.subStreamId" ng-click="setSubStreamer(user.easyrtcid)">Cho stream</a>
                        <a ng-if="user.easyrtcid==stream.subStreamId" ng-click="stopSubStreamer(user.easyrtcid)">Dừng stream</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</section>

<section class="panel video_panel">
    <section class="panel_title">
        <span class="title_left">Người thực hiện</span>
        <span class="title_right"><i class="fa fa-minus"></i></span>
    </section>
    <section class="panel_body ">
        <h4>Quốc Phong Vương</h4>
        <div class="media">
            <div class="media-left">
                <img src="/img_proxy/?image_url=http://mpc.edu.vn/f/img/u28/admin" height="40" alt="...">
            </div>
            <div class="media-body">
                <p>Con đường học vấn sẽ là con đường bền vững nhất dẫn đến thành công</p>
            </div>
        </div>
    </section>
</section>