<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Thông tin thành viên</h4>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group">
            <b>Tên: </b> {{user.UserName}}
        </div>
        <div class="form-group" ng-if="isAdmin()">
            <span ng-hide="user.Stream_CanChat===false" ng-click="banChatOfUser()" ng-disabled="btnChatDisabled" class="btn btn-sm btn-warning">Cấm chat</span>
            <span ng-show="user.Stream_CanChat===false" ng-click="unBanChatOfUser()" ng-disabled="btnChatDisabled" class="btn btn-sm btn-warning">Cho phép chat</span>
            <span ng-hide="user.Stream_CanView===false" ng-click="banStreamOfUser()" ng-disabled="btnViewDisabled" class="btn btn-sm btn-danger">Cấm xem stream</span>
            <span ng-show="user.Stream_CanView===false" ng-click="unBanStreamOfUser()" ng-disabled="btnViewDisabled" class="btn btn-sm btn-danger">Cho phép xem stream</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" ng-click="$dismiss()" class="btn btn-default" >Đóng</button>
</div>