<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Cài đặt ảnh - nhạc chờ</h4>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group">
            <input type="url" class="form-control" ng-required="true" placeholder="link ảnh" ng-model="imageUrl"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-required="true" placeholder="link video" ng-model="videoId"/>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">Hủy</button>
    <button type="button" class="btn btn-primary" ng-click="save()">Lưu</button>
</div>